@using MovieProDemo.Enums
@model MovieProDemo.Models.Database.Movie


<form asp-action="Create" enctype="multipart/form-data" class="row p-5">
    @*Checks input against data annotations*@
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="col-6">
        <div class="form-group mb-4">
            <label for="collectionId">Collection</label>
            <select class="form-control" asp-items="ViewBag.CollectionId"></select>
        </div>
        <div class="form-group mb-4">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group mb-4">
                <label asp-for="TagLine" class="control-label"></label>
                <input asp-for="TagLine" class="form-control" />
            <span asp-validation-for="TagLine" class="text-danger"></span>
        </div>
        <div class="form-group mb-4">
                <label asp-for="Overview" class="control-label"></label>
                <textarea asp-for="Overview" class="form-control" rows="7"></textarea>
            <span asp-validation-for="Overview" class="text-danger"></span>
        </div>
    </div>
    <div class="col-6">
        <div class="form-group mb-4">
                <label asp-for="PosterFile" class="control-label"></label>
                <input type="file" asp-for="PosterFile" class="form-control" accept=".jpg,.png,.jpeg,.gif" />
            <span asp-validation-for="PosterFile" class="text-danger"></span>
        </div>
        <div class="form-group mb-4">
                <label asp-for="BackdropFile" class="control-label"></label>
                <input type="file" asp-for="BackdropFile" class="form-control" accept=".jpg,.png,.jpeg,.gif" />
            <span asp-validation-for="BackdropFile" class="text-danger"></span>
        </div>
        <div class="form-group mb-4">
                <label asp-for="TrailerUrl" class="control-label"></label>
                <input asp-for="TrailerUrl" class="form-control" />
            <span asp-validation-for="TrailerUrl" class="text-danger"></span>
        </div>
        <div class="form-group mb-4">
                <label asp-for="ReleaseDate" class="control-label"></label>
                <input type="date" asp-for="ReleaseDate" class="form-control" />
            <span asp-validation-for="ReleaseDate" class="text-danger"></span>
        </div>
        <div class="form-group mb-4">
                <label asp-for="Rating" class="control-label"></label>
                <select asp-for="Rating" class="form-control" asp-items="Html.GetEnumSelectList<MovieRating>()"></select>
            <span asp-validation-for="Rating" class="text-danger"></span>
        </div>
    </div>
    <div class="d-grid col-6 mx-auto">
        <button type="submit" class="btn btn-lg btn-warning fw-bold">SAVE</button>
    </div>
</form>
